@charset "UTF-8";
.project {
  margin: 5px 0 30px;
  border-radius: 25px;
  border: black solid 5px;
  box-shadow: 0px 5px 14px 8px rgba(0, 0, 0, 0.5);
  background-color: #041729;
  transition: ease-out 0.3s;
}
.project .carousel {
  position: relative;
  height: 200px;
  width: 100%;
}
.project .carousel__image {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  border-bottom: 3px solid black;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: black;
}
.project .carousel__image .slide-left {
  transform: translateX(-100%);
}
.project .carousel__image .slide-right {
  transform: translateX(100%);
}
.project .carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 25px;
  cursor: pointer;
}
.project .carousel__button--left {
  left: 0;
  transform: scaleX(-1) translateY(-50%);
}
.project .carousel__button--right {
  right: 0;
}
.project .carousel__count {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 1px;
  padding: 3px;
  margin-bottom: 5px;
}
.project__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.project__text h3 {
  color: black;
  background-color: white;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 25px;
  text-align: center;
}
.project__text p {
  text-align: center;
  background-color: white;
  padding: 10px 15px;
  border-radius: 25px;
  margin: 10px;
}
.project__text .usedskills {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
.project__text .usedskills li {
  padding: 10px;
  font-weight: 700;
}
.project__text .usedskills--flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__text .liengit {
  color: white;
  padding: 15px;
  margin: 10px 10px 10px 0;
  background-color: black;
  text-align: center;
}
.project__text .liengit:hover {
  color: #1098f7;
}
.project__text .liengit--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project:hover {
  transform: scale(1.05);
  transition: 0.3s ease-out;
  box-shadow: 0px 0px 16px 5px rgba(19, 38, 107, 0.7);
}

.project.modal-open {
  pointer-events: none; /* Désactive le hover */
}

@media screen and (min-width: 800px) {
  .project {
    display: flex;
    flex-direction: column;
    margin: 15px;
    flex-basis: 45%;
  }
  .project .carousel {
    height: 290px;
  }
  .project .carousel__image {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .project .usedskills--flex {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project__text {
    width: 100%;
    font-size: 0.7rem;
    justify-content: space-evenly;
  }
  .project__text--flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 10px;
    align-items: center;
    justify-content: space-around;
  }
  .project__text .liengit--flex {
    width: 25%;
  }
}/*# sourceMappingURL=Project.css.map */